@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes flow {
    from {
      stroke-dashoffset: 20;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  .animate-flow {
    animation: flow 0.5s linear infinite;
  }
}
